{% extends 'listing.html' %}
{% load static %}

{% block head %}
    <title>Not Found</title>
{% endblock %}

{% block content %}

    <br>
    <div style="padding-left: 305px">
    <p>
        <h4>Suggestions for improving the results:</h4>

        <p style="color: #1e7e34">Try a larger search area</p>
        <p>Try a different location.<p/>
        <p>Check the spelling or try alternate spellings.</p>
        <p>Try a more general search. e.g. "pizza" instead of "pepperoni"</p>

    </p>
    </div><br>

{% endblock %}